body {
  font-family: monospace;
  width: 90%;
  margin-inline: auto;
}

.lifeTrackerWeeklyContent {
  --firstColumnWidth: 100px;
  display:grid;
  grid-template-columns: var(--firstColumnWidth) repeat(6, 1fr);
  grid-template-rows: 30px repeat(7, 1fr);
  border: 1px solid black;
}

.timeTick {
  display: grid;
}

.weekOf {
  display: grid;
  font-weight: bold;
}

.timeBlock {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: var(--firstColumnWidth) repeat(36, 1fr);
}

.day {
  display: grid;
  grid-column: 1 /2;
  font-weight: bold;
}

.action {
  display: grid;
  border: 1px solid black;
  aspect-ratio: 2/1;
}

.action:hover {
  background-color: gray;
}


.legendContent {
  border: 1px solid black;
  display:grid;
  grid-template-columns: 1rem 1fr;
  place-content: center;
}

.legendColorCircleColumn {
  display: grid;
}

.legendNameColumn  {
  display: grid;
}

.legendColorCircle {
  display: subgrid;
  height: 1rem;
  width: 1rem;
  border-radius:100%;
}

.legendName {
  display: subgrid;
  margin-left: 50px;
}

